# .gitignore
# *** HOUSEKEEPING! Ignorance is bliss ***
# Master File: Maintained by Primitive Digital's Housekeeping Department
# https://primitivedigital.uk/housekeeping-department/

# Always-ignore these extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

package-lock.json

# Folders
node_modules
#build
packages/contact-form-7/

# Unoptimised / Optimised Image Folders
#images
#img
