# .gitignore
# *** HOUSEKEEPING! Ignorance is bliss ***
# Master File: Maintained by Primitive Digital's Housekeeping Department
# https://primitivedigital.uk/housekeeping-department/

# Always-ignore these extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.hg
.svn
.csv
.idea


# OS or Editor files
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
sftp-config.json
npm-debug.log
yarn-error.log
package-lock.json


# Folders
node_modules
intermediate
publish
build

packages/contact-form-7/

# Unoptimised / Optimised Image Folders
#images
#img
